@import "@my2rela/react-kit/components/style.scss";
.user-list {
  display: flex;
  flex-direction: column;

  .user-list__filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .user-list__filter__input {
      width: 15rem;
    }

    .user-list__filter__button {
      width: 10rem;
    }

    @include mobileBreakpoint {
      flex-wrap: wrap;

      .user-list__filter__input {
        width: 100%;
      }

      .user-list__filter__button {
        width: 100%;
        margin: 0.3rem 0;
      }
    }
  }

  .user-list__content {
    display: flex;
    flex-direction: column;

    .user-list__content-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .__content_user-list {
        width: 14rem;
        display: flex;
        flex-direction: column;
        margin: 0.4rem;

        @include tabletBreakpoint {
          width: 46%;
        }

        @include mobileBreakpoint {
          width: 100%;
        }
      }
    }
  }

  .user-list__spinner {
    margin: 5rem auto;
  }
}